#LOGGING
LOGGING_CONFIG_PATH    = homepp/config/logging_config.ini  

#RABBITMQ
RABBIT_USERNAME        = guest
RABBIT_PASSWORD        = guest
RABBIT_HOST            = localhost
RABBIT_PORT            = 5672

# REDIS
REDIS_HOST             = localhost
REDIS_PORT             = 6379

# GRPC
GRPC_HOST              = [::]
GRPC_PORT              = 50051

